


<div class="container" >
    <form class="form-group rounded shadow" [formGroup]="registerForms" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Register</h2>
        <div class="mb-3" >
            <label for=" " class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username"/>
            <div *ngIf="registerForms.get('username')?.invalid && registerForms.get('username')?.touched">Name is required.</div>
        </div>
        <div class="mb-3">
            <label for=" " class="form-label">Email</label>
            <input type="email"  class="form-control" id="" placeholder="Enter email" formControlName="email"/>
        </div>
        <div class="mb-3">
            <label for=" " class="form-label">Password</label>
            <input type="password" class="form-control" id="" placeholder="Password" formControlName="password"/>
            <div *ngIf="registerForms.get('password')?.invalid && registerForms.get('password')?.touched">
                Password must contain at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character.
              </div>
        </div>
        <div class="mb-3">
            <label for=" " class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="" placeholder="Password" formControlName="confirmpassword"/>
            <div *ngIf="!passwordsMatch()">
                Passwords do not match.
              </div>
        </div>
        <div class="mb-3" id="sbmtButton">
            <button type="submit" class="btn btn-primary " [disabled]="registerForms.invalid || !passwordsMatch()">Submit</button>
        </div>
    </form>
</div>