<div class="container" >
    <form class="form-group rounded shadow" [formGroup]="loginForms" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Login</h2>
        <div class="mb-3">
            <label for=" " class="form-label">Username</label>
            <input type="text" class="form-control" id="" placeholder="Username" formControlName="username"/>
        </div>
        <div class="mb-3">
            <label for=" " class="form-label">Password</label>
            <input type="password" class="form-control" id="" placeholder="Password" formControlName="password"/>
        </div>
        <div class="alert-link" *ngIf="!login && submitted">Unsuccesful</div>
        <div class="mb-3" id="sbmtButton">
            <button type="submit" class="btn btn-primary ">Login</button>
        </div>
    </form>
</div>